body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; 
  font-size: 16px;
	margin:0px 0px; 
  padding:0px;
	text-align:center;
}

.content {
  background-color:#000000;
  width: 400px; 
  color: #ffffff;
  border-style: solid;
  border-width: 5px;
  border-color: #93d628; 
  padding: 10px; 
  margin:0 auto;
  overflow: hidden;
}

.box {
  display: inline-block;
}

.title {
	font-size: 300%;
}

img {
  width: 60px;
}

img.degree {
  width: 70px;
}

#temp {
  float: left;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;  
  padding-left: 10px;
	font-family: Arial Bold;
	font-size: 450%;
	font-weight: 700;
	line-height: 40px;
}

#temp2 {
  float: left;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;  
  padding-right: 20px;
	font-family: Arial Bold;
	font-size: 450%;
	font-weight: 700;
	line-height: 40px;
}

#controls {
  padding-top: 10px;
}

#reset {
  
}